@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #005454;
    color: #fdc48c;
    height: 90vh;
}

.headerdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding-left: clamp(2%, 5vw, 10%);
    padding-right: clamp(2%, 5vw, 10%);
}

.headerdiv h1 {
    text-align: left;
    font-size: 100px;
    width: 50%;
}

.innerheaderdiv {
    width: 50%;
    text-align: left;
}

.innerheaderdiv h2 {
    font-size: 40px;
    padding-bottom: 20px;
}

.innerheaderdiv p {
    font-size: 20px;
}

main {
    padding-top: 60px;
    padding-left: clamp(2%, 5vw, 10%);
    padding-right: clamp(2%, 5vw, 10%);
}

.problem h2 {
    font-size: 60px;
}

@media (max-width: 1150px) {
    .headerdiv {
        flex-direction: column;
        justify-content: center;
    }

    .headerdiv h1, .innerheaderdiv {
        width: 100%;
    }
}